.card {
  display: inline-block;
  max-width: 500px;
  width: 100%;
}
.head {
  min-height: 100px;
  overflow: auto;
}
.bg-green {
  background-color: rgb(167, 243, 208);
  color: rgb(6, 95, 70);
}
.bg-yellow {
  background-color: rgb(253, 230, 138);
  color: rgb(146, 64, 14);
}
.text-body {
  @apply text-ellipsis overflow-hidden text-nowrap;
}
